{% extends "base_workspace.html" %}
{% block content %}
<br>
<br>
<div class="row">
    <div class="col">
        <div class="row">
            <div class="col text-end text-secondary">
                Company
                <br>
                Department
                <br>
                Position
                <br>
                First name
                <br>
                Last name
                <br>
                Email
                <br>
                <br>
                <div class="col text-end text-secondary"></div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="row">
            <div class="col text-start">
                {{ company.company_name }}
                <br>
                In develop
                <br>
                {{ employee.position }}
                <br>
                {% block data %}{% endblock %}
            </div>
        </div>
    </div>
    <div class="col">
        <div class="row">
            <div class="col">
                <img src="{{ employee.profile_photo[employee.profile_photo.find('static') - 1:] }}" class="rounded-circle shadow-4"
                 style="width: 100px;" alt="/static/profile_photos/without_avatar.jpg" />
            </div>
            <br>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col">
        <div class="row">
            <div class="col text-end">
                <button type="button" class="btn btn-warning btn-sm">
                    <a class="nav-link" href="{{ url_for('settings.user_edit_information') }}">Edit profile</a>
                </button>
                <br>
                <br>
                <button type="button" class="btn btn-warning btn-sm">
                    <a class="nav-link" href="{{ url_for('settings.user_change_password') }}">Change password</a>
                </button>
                <br>
                <br>
                <br>
                <br>
                <button type="button" class="btn btn-primary btn-sm">Save change</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
    <div class="col">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
</div>
{% endblock %}