{% extends "base_workspace.html" %}
{% block content %}
<div class="row">
    <div class="col"></div>
    <div class="col">
        <form role="form" method="post">
            {{ form.csrf_token }}

            {{ form.current_password.label(class="text-secondary") }}
            {{ form.current_password(class="form-control form-control-sm") }}
            {% if form.current_password.errors %}
            <br>
            {% for error in form.current_password.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endfor %}
            {% endif %}
            <br>
            {{ form.new_password.label(class="text-secondary") }}
            {{ form.new_password(class="form-control form-control-sm") }}
            {% if form.new_password.errors %}
            <br>
            {% for error in form.new_password.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endfor %}
            {% endif %}
            <br>
            {{ form.confirm_new_password.label(class="text-secondary") }}
            {{ form.confirm_new_password(class="form-control form-control-sm") }}
            {% if form.confirm_new_password.errors %}
            <br>
            {% for error in form.confirm_new_password.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endfor %}
            {% endif %}
            <br>
            {{ form.submit() }}
        </form>
    </div>
    <div class="col"></div>
</div>
{% endblock %}