{% extends "base_index.html" %}
{% block content %}
<p>Register as company</p>
<form role="form" method="post">

    {{ form.csrf_token }}

    {{ form.name(placeholder="Company name", class="form-control") }}
    {% if form.name.errors %}
    <br>
    {% for error in form.name.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    {% endif %}
    <br>

    {{ form.email(placeholder="Email", class="form-control") }}
    {% if form.email.errors %}
    <br>
    {% for error in form.email.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    {% endif %}
    <br>

    {{ form.tax_id_number(placeholder="Tax identification number", class="form-control") }}
    {% if form.tax_id_number.errors %}
    <br>
    {% for error in form.tax_id_number.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    {% endif %}
    <br>

    {{ form.submit(type="submit", class="btn btn-outline-warning btn-sm", text="Register") }}
    <a href="{{ url_for('main.index') }}" class="btn btn-outline-light btn-sm">Home</a>
    <p class="text-center mt-3">Already registered? <a href="{{ url_for('login.login') }}">Login now</a></p>

</form>
{% endblock %}
