{% extends "base.html" %}

{% block content %}
  <div class="row">
    <main class="px-1">
        <h1>Добро пожаловать в Docflow!</h1>
        <p class="lead">Web open-source решение для Вашего документооборота</p>
        <p class="lead">
          <a href="{{ url_for('auth.login') }}" class="btn btn-outline-light">Войти</a>
          <a href="{{ url_for('register.register_company') }}" class="btn btn-warning">Зарегистрировать компанию</a>
          <a href="{{ url_for('register.register_employee') }}" class="btn btn-warning">Зарегистрировать пользователя</a>
        </p>
    </main>
  </div>
{% endblock %}
