{% extends "base_workspace.html" %}
{% block content %}
<div class="row">
    <div class="col"></div>
    <div class="col text-center">
        <button type="button" class="btn btn-outline-primary btn-sm">
            <a class="nav-link" href="{{ url_for('work.activities_new_call') }}">New activity</a>
        </button>
    </div>
    <div class="col text-center">
        <button type="button" class="btn btn-outline-success btn-sm">
            <a class="nav-link" href="{{ url_for('work.activities_completed_all') }}">Completed</a>
        </button>
    </div>
    <div class="col text-center">
        <button type="button" class="btn btn-outline-warning btn-sm">
            <a class="nav-link" href="{{ url_for('work.activities_all') }}">In progress</a>
        </button>
    </div>
    <div class="col text-center">
        <button type="button" class="btn btn-outline-danger btn-sm">Overdue</button>
    </div>
    <div class="col"></div>
</div>
<br>
<div class="row">
    <div class="col">
        <table class="table text-center">
            <thead>
            <tr>
                <th scope="col">Kind</th>
                <th scope="col">Activity holder</th>
                <th scope="col">Executor</th>
                <th scope="col">Appointed</th>
                <th scope="col">Finish until</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for activity in activities %}
            <tr class="table-success">
                <td>{{ activity.type_of.value }}</td>
                <td>{{ activity.activity_holder_name }}</td>
                <td>{{ activity.executor_name }}</td>
                <td>{{ activity.appointed.strftime("%m-%d-%Y %H:%M:%S") }}</td>
                <td>{{ activity.finish_until.strftime("%m-%d-%Y %H:%M") }}</td>
                <td>{{ activity.status.value }}</td>
                <td>
                    <button type="button" class="btn btn-outline-primary btn-sm">
                        <a class="nav-link" href="">Return for revision</a>
                    </button>

                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}