{% extends "work/activities_new_base.html" %}
{% block activities %}
<div class="row">
    <div class="col"></div>
    <div class="col-3">
        <input class="form-control" type="text" placeholder="Subject" aria-label="default input example">
        <br>
        <input class="form-control" type="text" placeholder="Describe" aria-label="default input example">
    </div>
    <div class="col"></div>
    <div class="col">
        <div class="dropdown">
            <button class="btn btn-secondary bg-white text-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" >
                Executor
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
            </ul>
        </div>
    </div>
    <div class="col">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="">
                Myself
        </div>
    </div>
    <div class="col-4">
    </div>
</div>
<br>
<div class="row">
    <div class="col"></div>
    <div class="col-3">
        <input class="form-control" type="text" placeholder="Here will be datepicker from flask-wtf-form" aria-label="default input example">
    </div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col-4">
    </div>
</div>
{% endblock %}